[2018-02-08 19:12] goneall opened #4 "Create a command line parser"
The current positional arguments worked well when there were only a few arguments.  It would be nice if we could do a full command line parsing with keywords to simplify the user interface and the code base.

This was originally raised in spdx tools [issue 140](https://github.com/spdx/tools/issues/140)

[2018-03-02 16:06] wonkydonky opened #79 ""See also" priority number"
Licenses have a property called "see also". As far as I understand this is used to link to external resources, such as the official webpage. If there are more than one link, there should be a priority number to indicate which link is preferred. For example GPL-3.0-only has `http://www.opensource.org/licenses/GPL-3.0` and `http://www.gnu.org/licenses/gpl-3.0-standalone.html`. The GNU link should be

[2018-03-11 09:30] goneall opened #6 "Pretty print the license text output files"
Translate the paragraph tags and the line break tags from the XML input files into line breaks in the text files.

Currently, there are no line breaks in the license text.

It looks like the the method [LicenseXmlHelper.getLicenseText](https://github.com/spdx/LicenseListPublisher/blob/8421f6b18ae5321a2261ebcc27013b4b176182ca/src/org/spdx/licensexml/LicenseXmlHelper.java#L479) may be a good place t

[2018-03-11 09:47] goneall opened #7 "Preserve the order of the SeeAlso URL's"
The first SeeAlso URL has semantic significance and the order should be preserved.

Note that as a list in RDF, no order is maintained, so this may be a bit of a design issue with how the SeeAlso is represented in the RDF graph.  Adding some type of priority or order may be necessary to solve.

This issue was raised in the SPDX License List Data repo: https://github.com/spdx/license-list-data/issu

[2018-03-11 09:52] goneall commented on #6
This issue was raised in the License List Data repo: https://github.com/spdx/license-list-data/issues/32

[2018-03-11 09:55] goneall opened #8 "Update to new fsf-api format with arrays of SPDX identifiers"
Moved from SPDX Tools: https://github.com/spdx/tools/issues/141

[2018-03-12 00:07] goneall opened #9 "Word wrap the output text files for license text"
This is in support of the use case where a developer would like to copy/paste license text for an SPDX listed license referenced at https://github.com/spdx/license-list-data/issues/32.  Without word wrap, the copy/pasted text would have very long lines and not format well in source code files.

This change should not affect the license text stored in license object, only the license text files the

[2018-03-28 19:44] goneall opened #11 "Create an index page for the archived license lists"
Per suggestion from @pombredanne on the SPDX legal mailing list

1. create a page that has links to the older versions of the LL page
2. link this "archives" page from the current LL version
3. link the previous version too
4. as a bonus possibly link the preview next when  this is published and mostly ready before we switch over to final

These links could be on the same line as the line that say

[2018-03-28 19:53] goneall commented on #11
From @wking

It would also be nice to be able to link to [1] in a way that will survive 3.1 getting cut.

About the URL template itself, I'd rather not repeat “archive”, and “archive” no longer feels quite right once you have an entry for the current release.  I also think the /licenses/ prefix already covers “ll” (which I'm guessing is for “License List”).  Wouldn't it be sufficient to use:

  ht

[2018-03-28 19:57] wking commented on #11
Cross-linking [the list thread][0].

I'd rather keep this outside of `LicenseListPublisher`.  For example, see [my mock-up][1], which adds a landing page linking to the various releases.  There is no cross-linking between the releases themselves.

[JSON Schema's specifications page][2] takes a similar approach, outlining their current releases and then linking to [a separate page][3] with links to

[2018-04-01 10:27] wking opened #12 "Expose obsoletedBy"
Show the data from spdx/license-list-XML#392 to folks consuming our JSON, HTML, etc.

[2018-04-09 21:02] goneall opened #13 "LicenseListPublisher hangs when exiting"
This looks like a problem with the underlying JGit library. After waiting 12+ hours, the applications never exits. Until this is resolved, the LicenseListPublish should not be used.

Following is a thread dump after pausing execution under Eclipse:

Thread [pool-2-thread-1] (Suspended)
	Unsafe.park(boolean, long) line: not available [native method]
	LockSupport.park(Object) line: not available
	Ab

[2018-04-09 21:02] goneall commented on #13
Moved from https://github.com/spdx/tools/issues/143

[2018-04-09 21:07] goneall opened #14 "Add 2nd newline license text and header text when generating licenses"
See the related issue for a description of the additional formatting being requested: spdx/license-list-data#16

[2018-04-09 21:08] goneall commented on #14
Moved from https://github.com/spdx/tools/issues/135

[2018-04-09 21:12] goneall opened #15 "Generate var text for copyright tags while generating the template files in the licenseRdfaGenerator"
Currently, <copyright>...</copyright> text is treated as normal text for matching purposes.

Per the matching guidelines, this text is optional and variable.

This could be just a match=".*" however, that may match additional legal text and change the meaning of the license.

A more sophisticated design may be needed.

[2018-04-09 21:13] goneall commented on #15
Moved from https://github.com/spdx/tools/issues/125

[2018-04-09 21:18] goneall opened #16 "XHTML declaring itself text/html"
Submitted by @wking and moved from https://github.com/spdx/tools/issues/123

Spun off from [here](https://github.com/spdx/tools/pull/122#issuecomment-348309372). We're serving the license pages as HTML:

$ curl -sI https://spdx.org/licenses/preview/ISC.html | grep Content-Type
Content-Type: text/html; charset=UTF-8
and doubling down on that with a meta http-equiv in the template (and a few sibling

[2018-04-09 21:18] goneall commented on #16
The question is whether we want to continue to support XHTML in parallel or not.

To be honest, I'm not sure why we are using XML. I picked up support for this from someone much more knowledgeable than myself on HTML. He implemented RDFa and I believe added the XML. I thought the XML was required for RDFa, but doing a quick web search seems to indicate XHTML is supported but not required (see http

[2018-04-09 21:21] goneall opened #17 "Show regexp in HTML output for replacable text"
Submitted by @wking and moved from https://github.com/spdx/tools/issues/120

[`formatReplaceabledHTML`][1] currently sets `class="replacable-license-text"`.  I think we should also set `title="match-regexp"` or something so users can mouse over (if they have a mouse) to see the replacement regexp.  Raw regexps aren't the greatest UX, but [that's what we've been using so far][2], and I can't think

[2018-04-09 21:28] goneall commented on #17
Please refer to the original closed issue for the entire conversation: https://github.com/spdx/tools/issues/120

From @wking

I've mocked something up at [1], which is primarily using CSS with a
<span> placeholder wherever you want the icon.  That ensures the icon
is not going to be copy/pasted from a rendering of the HTML.  I've
used ☿ for the icon, but I didn't hunt around too hard.  Anything th

[2018-04-09 21:29] goneall opened #18 "Consistent header/value for license-list “Text” column"
Submitted by @wking

And as a very minor nit for `resources/htmlTemplate/TocHTMLTemplate.html`, it's a bit strange to have a “Text” header on a column where all the values are “License Text”.  If “Text” is sufficient, why not use that everywhere?  If “Text” is not sufficient, why not use “License Text” in the header?  I'm also fine dropping this column entirely, because the license name already li

[2018-04-09 21:30] goneall commented on #18
@jlovejoy I'll leave the TOC format questions to you - let us know if you want any modifications as suggested by @wking   The template can also be updated through a PR: https://github.com/spdx/tools/blob/722d95784f55b3923ed0428c4abf2fc915eb2b2e/resources/htmlTemplate/TocHTMLTemplate.html#L162

[2018-04-09 21:30] goneall commented on #18
Moved from https://github.com/spdx/tools/issues/118

[2018-04-09 21:32] goneall opened #19 "Link to third-party pages from license list"
Submitted by @wking originally at https://github.com/spdx/tools/issues/117

This is not critical, and it would require API extentions, but it would make it easier for users to audit our assertions and/or discover additional details if the “FSF Free/Libre?” and “OSI Approved?” entries in `resources/htmlTemplate/TocHTMLTemplate.html` were also links to the third-party page.  For example, if the MIT

[2018-04-09 21:33] goneall commented on #19
This would be a bit of work - I'll can look into after the next release of the license list (which is keeping me pretty busy).

If anyone else wants to take this on - feel free, I can help provide pointers to the existing implementations

[2018-04-09 21:33] goneall commented on #19
Moved from https://github.com/spdx/tools/issues/117

[2018-04-09 21:35] goneall opened #20 "Utilize the OSI API's to automatically populate the isOsiApproved flag in the listed license"
https://api.opensource.org/licenses/  can access the SPDX license ID and OSI status.  This can be used to do one of the following:
1.  Fill in the OSI approved text on spdx.org/licenses based on JavaScript and real time access to the OSI API and deprecate the isOsiApproved attribute in the license list XML
2.  Set the value for osiApproved in the listed licenses based on the OSI API information at

[2018-04-09 21:35] goneall commented on #20
Suggested by @wking on [SPDX tech email dist. list](https://lists.spdx.org/pipermail/spdx-legal/2017-October/002287.html)

[2018-04-09 21:35] goneall commented on #20
My current preference is solution #2 since #1 depends on the OSI API site being available.  The frequency of license updates should be sufficient to keep things in sync.

[2018-04-09 21:36] goneall commented on #20
From @wking

On Fri, Oct 13, 2017 at 09:20:56PM +0000, goneall wrote:

The API is backed by OpenSourceOrg/licenses, and there's still a
non-canonical warning up there [1].  See also
OpenSourceOrg/licenses#47.  Hopefully serious SPDX interest (and
assistance?  I have some open PRs over there) will encourage them to
push through to something authoritative.

I like this way for public HTML, although

[2018-04-09 21:36] goneall commented on #20
Moved from https://github.com/spdx/tools/issues/111

[2018-04-10 02:32] goneall commented on #8
Resolved in version 2.1.12

[2018-04-10 02:32] #8 closed

[2018-04-10 16:40] goneall commented on #9
Fixed in 2.1.12

[2018-04-10 16:40] #9 closed

[2018-04-10 16:43] goneall commented on #17
I'm going to wait one more release of the license list (version 3.2) to give @jlovejoy a chance to review and comment on the UI

[2018-04-12 17:23] zvr opened #22 "change "Deprecated Licenses" section header to "Deprecated License Identifiers""
In the license list https://spdx.org/licenses/ the last table is named "Deprecated Licenses".

But it's really about License Identifiers; "_GNU General Public License v2.0 or later_" is not a deprecated license, but one shouldn't be using the "_GPL-2.0+_" identifier.

[2018-04-12 17:26] zvr opened #23 "update footer copyright notice"
It currently produces:

while the rest of the pages have:

[2018-04-13 17:05] #23 closed

[2018-04-14 16:58] goneall commented on #14
Resolved in version 2.1.12

[2018-04-14 16:58] #14 closed

[2018-04-14 16:59] goneall commented on #6
Resolved in version 2.1.12

[2018-04-14 16:59] #6 closed

[2018-06-11 16:45] goneall opened #30 "Formatting of plain license text in JSON data is broken"
Moving issue from SPDX tools.  Originally submitted by @sschuberth

At the example of Apache-2.0, when extracting the [licenseText string](https://github.com/spdx/license-list-data/blob/v3.1.1/json/details/Apache-2.0.json#L4) to a file, I'd expect that file to be *exactly* formatted like the [original plain text license](http://www.apache.org/licenses/LICENSE-2.0.txt) including leading spaces and

[2018-06-11 16:45] goneall commented on #30
The way we are maintaining the license information in the [license-list-XML github repository](https://github.com/spdx/license-list-XML) it is not feasible to retain the formatting of the original text since XML removes the white space and we do not have enough tags to retain all of the formatting.

That being said, we could do a better job of formatting the text and making it look prettier.

The

[2018-06-11 18:32] sschuberth commented on #30
I believe that's exactly the problem then, and XML shouldn't be used as the primary format to store the original text. It could still be used as a format to apply SPDX-specific formatting, however.

[2018-08-17 09:22] davidhedlund opened #121 "Add false "isFsfLibre" value"
but there are no

~~thus it's painful to parse the data since programs like jq doesn't expect null values.~~

[2018-08-19 07:08] mlinksva opened #32 "How to build jar with dependencies?"
For the [release](https://github.com/spdx/LicenseListPublisher/releases/tag/2.1.12)...

[code]

...but built from source (with `mvn clean install`, as the README says):

[code]

...or specify main on command line...

[code]

...great, but...

[code]

Ah, dependencies aren't included in the jar built with `mvn clean install`. How does one build with dependencies? I see https://github.com/spdx/Licen

[2018-08-19 17:41] goneall commented on #32
mvn clean install should work.

My guess is something got messed up when I split this repository away from the spdx/tools repo.

I'll take a look and see if I can figure a fix.

[2018-08-19 17:47] goneall commented on #32
@mlinksva Check to see if the mvn clean install created a jar file ending with `-jar-with-dependencies.jar` in addition to the standard jar file.  The `licenseListPublisher-[version]-jar-with-dependencies.jar`  file should be executable.

If you don't find the jar file with dependencies, could you upload the output of your maven build?

I just verified the maven build worked on my local system.

[2018-08-21 15:10] mlinksva commented on #32
Only two jar files:

[code]

I do get an error during `mvn clean install` that I should've reported. I must've overlooked it as it seemed to be about generating docs. 😊 Anyway, the output:

[code]

And the full `mvn -e -X clean install` output, too long for an issue comment: https://gist.github.com/mlinksva/9c43e7c6e63d12145cad4bdca29bbf0f

[2018-08-21 20:04] goneall commented on #32
@mlinksva It looks like it is dying generating JavaDocs due to an invalid character.  I also noted some warnings that may be related.

I'll see if I can duplicate the problem locally - it may take me a couple days before I get time to research it.  In the mean time, you could try commenting out the 2 JavaDoc plugin definitions at https://github.com/spdx/LicenseListPublisher/blob/07099dd08cf75234de

[2018-08-21 20:06] goneall opened #33 "Remove duplicate JavaDoc plugin"
code at: https://github.com/spdx/LicenseListPublisher/blob/07099dd08cf75234deee75045d964899127cb16e/pom.xml#L228

Duplicate JavaDoc plugin immediately follows.

Found through the warnings mentioned in issue #32

[2018-08-21 20:07] goneall opened #34 "Add version for the Shade plugin in POM file"
Warnings mentioned in issue #32 indicate that the Shade plugin does not have a version specified.

[2018-08-21 22:04] mlinksva commented on #32
Removing the two `maven-javadoc-plugin` entries does indeed allow the build to continue and produce `./target/licenseListPublisher-2.1.13-SNAPSHOT-jar-with-dependencies.jar` which works as expected.

[2018-08-22 01:05] #32 closed

[2018-09-20 13:47] goneall opened #36 "Sort the licenses.json output file"
Request for the licenses in the licenses.json file be sorted by license ID.

See https://github.com/spdx/license-list-data/issues/36 for original request.

[2018-09-20 13:50] goneall commented on #36
It looks like the change needs to be made in the core library - class `LicenseTOCJSONFile` would need to implement the sort.

[2018-09-21 17:33] #36 closed

[2018-10-25 17:54] goneall opened #37 "Create an initial sort for the index.html page"
Currently, the license list on the index page is ordered by how the file system orders files.  On some systems, this is not in any recognizable order.

Suggest ordering by license name rather than license ID.

[2018-10-25 17:58] goneall commented on #37
One fix would be to modify the [XmlLicenseProvider](https://github.com/spdx/LicenseListPublisher/blob/master/src/org/spdx/licensexml/XmlLicenseProvider.java) which provides the files to the generator.  The index.html page would be ordered by the order of the XML files provided.  The advantage of this approach is that other indexes (e.g. licenses.json) would also be ordered in this manner.

Another

[2018-11-26 18:08] goneall opened #38 "Deprecated exceptions are not handled properly"
License XML documents with isDeprecated set to true does not set the isDeprecatedLicenseId to true in the output file formats.

Reported in the license-list-data repository: https://github.com/spdx/license-list-data/issues/39

[2018-11-29 19:18] #22 closed

[2018-11-29 19:40] goneall commented on #38
Resolved in version 2.1.15

[2018-11-29 19:40] #38 closed

[2018-12-18 18:59] goneall opened #42 "Extra spaces are placed around optional text"
When enclosing an optional character with `<optional>c</optional>`, spaces are added before and after the optional character when generating the canonical text.  This is problematic for some strings - e.g. `http<optional>s</optional>://www.gnu.org/licenses/` will produce `http s ://www.gnu.org/licenses/`.

See issue https://github.com/spdx/license-list-data/issues/42 for a list of files having thi

[2018-12-18 19:45] zvr commented on #42
Uh-oh... I created some `commit<optional>s<optional>`, `bring<optional>s</optional>`, etc. matches for strings last week... ;-)

[2018-12-19 11:28] sschuberth opened #78 "License details should include a link to the plain text, if known"
Unfortunately, the formatting in the `licenseText`'s JSON value is broken for a lot of licenses (e.g. regarding indentation and paragraphs). For any processing the plain text version of the license text, if provided by upstream, should be the source of truth. To capture that, I propose to include a link to the plain text version, if any, into the license details. Preferably this would go to a new

[2018-12-20 16:19] goneall opened #44 "Licenses are not sorted for the index.html page in license-list-data"

[2019-01-23 23:53] jeffmcaffer commented on #30
+1 to maintaining the original format of the licenses. Currently, for example, these two license texts differ by newlines. https://github.com/spdx/tools/blob/master/resources/stdlicenses/MIT.jsonld
https://github.com/OpenSourceOrg/licenses/blob/master/texts/plain/MIT

While it is not a huge deal for consumers to find some wordwrapping implementation and run the text through before, say, generating

[2019-02-14 02:32] jhabdas commented on #42
nudge

[2019-03-11 02:47] goneall commented on #42
Since XML allows white space before and after elements, I can not think of a way to solve this without modifying the license list XML schema.

Here's a proposal:

How about we add an attribute to `<optional>` in the license list XML "nospace".  It would have the following possible values:

- none: no spaces would be included before and after the optional value
- before: only a space before would b

[2019-03-11 17:13] zvr commented on #42
Surely with this interpretation of the values the attribute has to be named `space` instead of `nospace`.  😏

Since the texts are also used for matching, the descriptions should talk about "white space" (not "a space") and use "generated/accepted" instead of "generated" (or "included").

👍 on the proposal

[2019-03-11 17:35] bberberov commented on #42
Could you explain the problem?  I believe XSLT allows for collapsing elements, and existing space before and after would be preserved as written.

[2019-03-11 20:18] goneall commented on #42
There are actually 2 problems - one is matching and one is generating the text based on the markup.

This is generated in a Java tool - the code can be found at: https://github.com/spdx/LicenseListPublisher/tree/master/src/org/spdx/licenselistpublisher/licensegenerator

[2019-03-15 23:13] bberberov commented on #42
Thanks.  i'll try and read the code.  It has been a while since I worked with Java.  I was mainly interested in generating accurate non-plain text versions of licenses for use in projects.

[2019-04-02 16:04] goneall commented on #44
Fixed in version 2.1.18

[2019-04-02 16:04] #44 closed

[2019-04-22 12:02] swinslow opened #46 "Consider adding link to spdx.org/ids"
The main SPDX website pages include a menu bar with links to various parts of the site. Because https://spdx.org/licenses is auto-generated and not part of the main site template, it doesn't have that menu bar.

As described at https://github.com/spdx/license-list-XML/issues/848, it might be useful in the links at the top of the main licenses page to include a link to https://spdx.org/ids, since t

[2019-05-03 17:59] bberberov commented on #42
I believe the issue is here:

https://github.com/spdx/LicenseListPublisher/blob/master/src/org/spdx/licensexml/LicenseXmlHelper.java#L308

To me this seems to always wrap `<optional>` in spaces.  If this can be modified to preserve whitespace as written, it should work.

[2019-05-03 21:14] goneall commented on #42
The challenge is knowing whether to preserve the white space.  The XML parser strips out the white space between the tags so I don't think it is possible to know if the which space should be added or not.  We also don't have the original text to compare it to.

[2019-05-13 15:09] ppalaga opened #60 "Add a validity attribute to crossRef"
This is a followup of https://github.com/spdx/license-list-XML/issues/780 where validity of http://www.microsoft.com/opensource/licenses.mspx was discussed.

It would be nice if the URLs known not to return valid content could be annotated accordingly.

For our particular use case an optional boolean attribute would be enough. The attribute name could be e.g. `valid` and it could default to `true`

[2019-06-02 06:20] goneall opened #48 "Create alternative or optional text for copyright text"
Text enclosed by the copyright element are treated as normal text requiring complete matches.  It should be made either alternate or optional per matching guidelines section 2.1.3.

[2019-06-02 06:21] goneall commented on #48
Code to be modified is near https://github.com/spdx/LicenseListPublisher/blob/518b9964fbe8b226c70d5aefe7e520a3a5b9186a/src/org/spdx/licensexml/LicenseXmlHelper.java#L145

[2019-06-02 06:21] goneall commented on #48
This is related to https://github.com/spdx/license-list-XML/issues/866#issuecomment-497983940 and https://github.com/fsfe/reuse-docs/issues/16

[2019-06-02 10:39] zvr commented on #48
simply put: `copyrightText` should be treated the same as `titleText` for matching.

[2019-06-02 21:17] goneall opened #49 "Line feeds added in JSON for seeAlso URLs"
This happens if there is a linefeed in the source XML.  For example:

[code]
will produce:

[code]

This was originally reported against the licenseListData repo: https://github.com/spdx/license-list-data/issues/50

[2019-06-04 09:00] vlsi opened #62 "Use HTTPS for URLs where possible"
For instance:

[code]

[2019-06-14 16:55] goneall opened #50 "Allow for single file licenseRDFaGenerator"
Currently, the LicenseRDFaGenerator will only take a directory of licenseXML files.  If we allow it to take a file name, the tool can be used to generate as well as test a single license XML file greatly improving the speed.  See related issue https://github.com/spdx/license-list-XML/issues/880

[2019-06-30 22:15] #46 closed

[2019-06-30 22:53] goneall commented on #50
Resolved with PR #52

[2019-06-30 22:53] #50 closed

[2019-06-30 23:30] goneall commented on #49
Fixed with PR #53

[2019-06-30 23:30] #49 closed

[2019-07-01 23:04] goneall commented on #42
I'm implementing the "spacing" attribute for the optional element in the LicenseListXML schema.  As I was updating the code, I realized that the current behavior is adding a space before, not before and after, the optional text.  Based on this, I'll make the default "before".

You can review the PR for the schema change at https://github.com/spdx/license-list-XML/pull/889

[2019-07-02 21:51] goneall commented on #48
Resolved in PR #54

[2019-07-02 21:51] #48 closed

[2019-07-02 21:52] goneall commented on #42
The tools have been updated to implement the optional spacing, so I'm closing this PR.

We still need to go through the license-list-XML and update the optional text before closing the related license-list-data issue.

[2019-07-02 21:52] #42 closed

[2019-07-03 16:05] sebbonnet opened #55 "MPL 2.0 and MPL 2.0 no copyleft have the same text"
Both `MPL-2.0` and `MPL-2.0-no-copyleft-exception` licence files have the same content which makes it impossible to differentiate between them when using automated tool to check licences in third party libraries.

Looking at the Mozilla [FAQ](https://www.mozilla.org/en-US/MPL/2.0/FAQ/), it is not clear how to differentiate the two.
Q25 FAQ does mention that Exhibit A should prevail when using a fu

[2019-07-03 16:39] goneall commented on #55
Just a note: Text matches are not unique for several licenses.  Most of these have a deprecated license with the same text, but some have different headers.

You can find a complete list in the [expected warnings file](https://github.com/spdx/license-list-XML/blob/master/expected-warnings).

[2019-07-03 20:14] sebbonnet commented on #55
Thanks @goneall
`MPL-2.0` and `MPL-2.0-no-copyleft-exception` licences are in the duplicate list

Is this a known issue with the tool or the data?
Is there a plan to remove the duplication?

[2019-07-03 20:28] goneall commented on #55
I took a look at the license XML for these `MPL-2.0` and `MPL-2.0-no-copyleft-exception`.  They do have different text for the Exhibits at the end of the license.  However, the exhibits are optional.

If we include the exhibits in the text to be matched, should show as different.

One solution would be to remove the optional for one or both of the licenses.

[2019-07-10 21:33] swinslow opened #56 "Differences in sorting for the license list website indexes"
For the **main license list** (https://spdx.org/licenses/), the entries on the index are by default sorted alphabetically by the identifier, case-insensitive (which is correct).

For the **exceptions list** (https://spdx.org/licenses/exceptions-index.html), they are also sorted alphabetically by the identifier -- however, on this page the sorting is case-sensitive. Those beginning with lowercase l

[2019-07-10 21:34] swinslow commented on #56
For completeness, there is also a **deprecated exceptions list** (https://spdx.org/licenses/exceptions-index.html, at the bottom) but there is only one entry on it at present. So currently, it is sorted correctly.  :)

[2019-10-02 13:07] uniqx opened #77 "BSD-2-clause isFsfLibre needs fixing."
`BSD-2-clause` is not marked as isFsfLibre: [json/licenses.json#L471](https://github.com/spdx/license-list-data/blob/v3.6/json/licenses.json#L471)

According to FSF this license is free: https://www.gnu.org/licenses/license-list.html#FreeBSD

[2019-10-03 16:52] goneall opened #57 "Optional color is not rendered for text inside a paragraph tag"
The HTML for the license renders optional text in blue color.  This is currently done by generating a div with a class name of `optional-license-text`.  The [stylesheet ](https://github.com/spdx/LicenseListPublisher/blob/a8c187b8106ded3dcf0df33df92bd152f864a54a/resources/screen.css#L20)specifies a blue color for this class.  Paragraphs included within this div use the default paragraph color rathe

[2019-10-03 16:52] goneall commented on #57
@swinslow - If you could take a look at the stylesheet and provide any pointers.

[2019-10-07 10:44] zvr commented on #57
Looking, for example, at the Condor-1.1 license, the bottom part ("For more information") is `<optional>`.
It should appear in blue, BUT... it actually contains `<p>` elements and the `.page p` color overrides the color of optional.

Why is the `.page p` needed, since we already have the `.page` one?

[2019-10-07 16:16] goneall commented on #57
Thanks @zvr for the analysis!

Not sure - @jlovejoy do you know why we have these style edits?

I hacked the Condor-1.1 html on the website removing the `.page p`.  This fixed the issue.

I can remove this from the template and fix this permanently for the next revision of the license list.

A couple of questions:
- Should we remove the other `.page xx` items where the color is the same as `.page`

[2019-10-15 18:47] goneall commented on #57
Based on a discussion with @swinslow and @jlovejoy , I'll try removing the `.page p` and `.page th` from the style embedded in the template.

We'll review on preview before committing the changes.

[2019-10-16 04:48] goneall commented on #57
resolved with PR #58

[2019-10-16 04:48] #57 closed

[2020-01-02 08:15] zvr commented on #60
@goneall I"m sure you have already thought about it, but just to be sure: in order for a link to be "valid",  licenseListPublisher should check that it returns a page (not 404) _and_ that the content corresponds with the license in question. This means digging through the returned HTML of the page (if found), disregarding all decorations (e.g. logos, menus, archive.org frames, etc.), getting the t

[2020-01-02 13:39] swinslow commented on #60
Great, thanks @goneall!

[2020-01-02 17:46] goneall commented on #60
@zvr I wasn't planning on checking the text itself, but just recording dead links in some type of attribute on the license.

Perhaps we can separate this into 2 separate issues - one to add an attribute for dead links and a second issue for licenses that do not match.  Matching licenses would be a fun project, but it would be quite a bit of work.  Perhaps a summer of code student project?

[2020-01-03 09:12] ppalaga commented on #60
+100! Having it would be really nice.

[2020-01-29 19:34] goneall commented on #60
I just added a [GSoC project idea](https://wiki.spdx.org/view/GSOC/GSOC_ProjectIdeas#Validate_License_Cross-References).  @ppalaga feel free to update the proposal or suggest improvements.

[2020-02-19 17:55] cordlandwehr opened #61 "Unneeded empty lines in license text for LGPL-3.0-only"
The license text for LGPL-3.0-only contains unneeded empty lines, which are actually not displayed in the HTML version of the license: https://github.com/spdx/license-list-data/blob/master/text/LGPL-3.0-or-later.txt
For me it seems that line breaks from the LGPL-3.0 HTML page are considered by the conversion tool in the same way as <p> or <br /> tags, which leads to the strange result.

This issue

[2020-03-04 17:36] goneall commented on #61
Here's a link to the source license XML: https://github.com/spdx/license-list-XML/blob/master/src/LGPL-3.0-only.xml

I wonder if this is caused by the extra paragraph tags within the item tags.

I am considering this a bug in the generation tool since it renders correctly in HTML, but it could be argued we should fix the source XML to remove the paragraphs.

[2020-03-30 09:38] zvr commented on #62
If this is for license texts, the [matching guidelines](https://spdx.org/spdx-license-list/matching-guidelines) already say that `http:` and `https:` are equivalent.

[2020-03-30 14:55] goneall commented on #62
The URL's show up in 2 places - in the license text and in the seeAlso URL's.

For the text, I agree with @zvr that the matching is already taken care of and I don't think we should be modifying the text of the license itself.

For the seeAlso there is a project already underway to validate and correct the license URL's.

We can use this issue to track the seeAlso usage (although I think there may

[2020-07-01 18:04] goneall opened #65 "Add git-stripspace to contributing documentation"
Add documentation for [git-stripspace](https://git-scm.com/docs/git-stripspace) to be used in all commits.

[2020-07-01 18:05] goneall opened #66 "Clean up trailing white space"
There is a significant amount of trailing white space in the java files.

We can use [git-stripspace](https://git-scm.com/docs/git-stripspace) as a consistent method of stripping white space.

This will need to be applied to all .java files in the repo.  After which, we can include git-stripspace as a git hook before committing changes to keep things consistent.

[2020-07-09 00:36] ofek opened #68 "Apache-2.0 license is improperly formatted"
See: https://github.com/spdx/license-list-data/blob/master/text/Apache-2.0.txt

[2020-08-22 04:11] goneall opened #72 "Performance improvement - processing licenses twice"
The function `writeExceptionList` creates a list of licenseId's by re-parsing all the licenses which is quite expensive (see https://github.com/spdx/LicenseListPublisher/blob/f8cb27d6da741af0a926a7ba401b3450909c10e0/src/org/spdx/licenselistpublisher/LicenseRDFAGenerator.java#L356)

The list of license ID's is already collected in the writeLicenseList and can be passed into this method.  This could

[2020-08-23 23:52] goneall opened #73 "Performance improvement - move concurrency in cross-ref URL checking to XmlLicenseProvideerWithCrossRefDetails next method"
If we move the asynchronous behavior to the `XmlLicenseProviderWithCrossRefDetails`  https://github.com/spdx/LicenseListPublisher/blob/c56fef6c44fe4b8f69c5fc157cc38045cdd6be6b/src/org/spdx/licensexml/XmlLicenseProviderWithCrossRefDetails.java#L58 by making the `buildUrlDetails` return `Future<String[]>` and change the implementation of `buildUrlDetails` to synchronously call the underlying methods

[2020-09-04 16:38] goneall opened #75 "Cross-Ref stored as a string when it could be a structured map"
currently, the cross-ref is a string which internally uses a JSON object format.  When serialized, it currently looks as follows:

[code]

This could be serialized as an object which would make it more usable by the reader:

[code]

[2020-09-04 17:14] goneall opened #76 "CrossRef Match is not always a valid boolean"
The crossRef match should be either `true` or `false` to be easily parsed.

In some cases, `--` is the value.

For example, in the EUPL-1.2.json file:

[code]

[2020-10-20 19:05] kkmzero opened #81 "AGPL (or later)"
What exactly is the difference between these two license templates? I checked them and they seem identical, however I would expect AGPL-3.0-only to not have "or any later version" line.

https://github.com/spdx/license-list-data/blob/master/text/AGPL-3.0-or-later.txt
https://github.com/spdx/license-list-data/blob/master/text/AGPL-3.0-only.txt

[2020-10-21 15:48] goneall commented on #81
@kkmzero There is no difference between the templates.  The templates are for the actual license text which is identical between the 2 licenses.  The license header may be different, however.

The source used to generate the license data is https://github.com/spdx/license-list-XML/blob/master/src/AGPL-3.0-or-later.xml and https://github.com/spdx/license-list-XML/blob/master/src/AGPL-3.0-only.xml

[2020-11-12 05:16] #81 closed

[2020-11-12 19:15] goneall commented on #60
The GSoC project is now completed and merged into the tool.  See PR #64, #67, #70, #71, and #74

Closing this PR as resolved.

NOTE: This will not show up in the license-list data until the next release of the SPDX tools scheduled for the last week of November 2020.

[2020-11-12 19:15] #60 closed

[2020-11-12 19:18] goneall commented on #55
Moving this to the License-List-XML repo since this is an issue with the source XML data.

[2020-11-12 19:23] goneall commented on #18
@jlovejoy @swinslow I'll leave the formatting questions to the legal team - please let me know if you'd like this change to be made in the template.  If not, I'd like to close this very old issue.

[2020-11-12 19:27] goneall commented on #15
Old issue - closing as will not be resolved

[2020-11-12 19:27] #15 closed

[2020-11-12 19:27] goneall commented on #13
This utility is no longer in use - closing

[2020-11-12 19:27] #13 closed

[2020-11-12 19:29] goneall commented on #4
Closing this old issue as "will not be resolved"

[2020-11-12 19:29] #4 closed

[2020-11-12 20:41] swinslow commented on #18
Coincidentally I was thinking about exactly this thing yesterday (though I hadn't seen this issue before). I would be in favor of just dropping the column that says "License Text" in the TOC. I think in most cases folks will be clicking on the license name column anyway, and so I don't think the "License Text" row necessarily adds anything.

[2020-11-13 04:38] goneall commented on #76
For invalid references, neither true or false is valid.  Updated code in PR #82 to use "N/A" rather than "--"

[2020-11-13 04:38] #76 closed

[2020-11-13 04:46] goneall commented on #79
PR #82 now preserves the order of the SeeAlso URL's which can provide a priority.  The order in which the seeAlso URL's are added in the XML will be the order in which they will be displayed on the website.

[2020-11-13 04:46] #79 closed

[2020-11-13 04:57] goneall commented on #79
Note: There is now an `order` property in the `CrossRef` class which can be used as a priority - it is defined to be the order in which the seeAlso was found in the License XML document.

[2020-11-13 04:58] goneall commented on #7
Resolved in PR #82

[2020-11-13 04:58] #7 closed

[2020-11-14 04:29] goneall commented on #78
PR #83 implements approach 1. above.

[2020-11-14 04:30] goneall commented on #75
Resolved in PR #82

[2020-11-14 04:30] #75 closed

[2020-11-14 04:31] goneall commented on #73
Resolved in PR #82

[2020-11-14 04:31] #73 closed

[2020-11-14 04:32] goneall commented on #72
Resolved in PR #82

[2020-11-14 04:32] #72 closed

[2020-11-14 04:32] goneall commented on #68
Resolved in PR #83

[2020-11-14 04:32] #68 closed

[2020-11-14 04:35] goneall commented on #61
Resolved with PR #83

[2020-11-14 04:35] #61 closed

[2020-11-14 04:36] goneall commented on #33
Resolved in PR #82

[2020-11-14 04:36] #33 closed

[2020-11-14 04:37] goneall commented on #30
Resolves in PR #83

[2020-11-14 05:20] goneall commented on #34
Resolved by PR #84

[2020-11-14 05:20] #34 closed

[2020-11-14 05:21] goneall commented on #56
Resolved with PR #84

[2020-11-14 05:21] #56 closed

[2020-11-14 05:38] goneall commented on #19
This would require quite a bit of work - closing this as "will not fix"

[2020-11-14 05:38] #19 closed

[2020-11-14 05:52] goneall commented on #18
PR #85  removes the Text column.  @jlovejoy @swinslow if there are no objections, I'll merge the PR for the next license list release.

Below are some screenshots of the license list index and exceptions index.

![Untitled](https://user-images.githubusercontent.com/378172/99140889-792d5d80-25fa-11eb-9cbf-a9d015c18f42.png)
![Untitled2](https://user-images.githubusercontent.com/378172/99140890-79c5f

[2020-11-14 16:53] swinslow commented on #18
+1 from me, thanks @goneall!

[2020-11-23 00:07] goneall opened #87 "Resolve spacing for alt/var text"
Spaces are added before/after every alt text element which in some cases is not appropriate.

See [LicenseListXML issue 1146](https://github.com/spdx/license-list-XML/issues/1146) for an example.

The current thinking is that we need to add a spacing attribute similar to the `optional` element.

[2021-01-26 15:36] swinslow opened #92 "Reporting "no longer live" where link is a valid redirect"
Hi @goneall -- I'm not sure if this is the right repo to report this in, so let me know if it should go elsewhere  :)

In looking at the latest License List release, I'm noticing that several links are deactivated and listed as "no longer live" even though they do actually lead to a valid webpage. It looks like it's happening in particular where the link is a valid redirect, rather than being the

[2021-01-26 16:22] goneall commented on #92
@swinslow Yes - this is the right repo and it would involve the link validation.  I need to check the code, but I'm guessing it is taking the redirect as a cause for the link to not be live.  I'll look into it later this week.

Thanks for pointing this out.

[2021-01-26 16:23] goneall commented on #92
@tjasmith Let me know if you have any thoughts on this issue.

[2021-02-05 19:20] goneall commented on #87
Resolved with PR #88

[2021-02-05 19:20] #87 closed

[2021-02-05 19:36] goneall opened #93 "Change deployments from Bintray to Maven Central and Github packages"
Bintray is retiring their service on May 1.  Prior to retirement, we need to start publishing an alternative package storage provider.

Suggest both Maven Central and Github Packages.

This can be automated using Github actions.  See https://docs.github.com/en/actions/guides/publishing-java-packages-with-maven#publishing-packages-to-the-maven-central-repository-and-github-packages

[2021-02-05 20:02] goneall commented on #92
This is resolved with commit 90b49dadb889ec7ce611990bdc839a87e226072a

[2021-02-05 20:02] #92 closed

[2021-02-17 13:27] justin2004 opened #94 "rdfs:crossRef"
this property/predicate is generated by this tool:
[code]

see:
https://github.com/spdx/license-list-data/blob/6820cab01008b520a72289bbdc6b2a895afc2590/rdfturtle/0BSD.turtle#L8

but i don't think it is in the rdfs vocabulary:
https://www.w3.org/TR/rdf-schema/

should we declare
[code]
instead and add a definition?

[2021-02-17 17:21] goneall commented on #94
@justin2004 Good catch - clearly a bug and your solution is the correct one.  I'll work on a PR to correct this.

[2021-02-17 17:31] goneall commented on #94
It looks like this has already been fixed - we just need to deploy the new utility to the LicenseListXML repo which is planned in the next week or so.

[2021-02-20 19:08] goneall opened #95 "Compare single license publish to all licenses in the current repo"
When publishing a single file, there is not a comparison against the other files in the repo.  An additional check should be added.  If there are additional files in the license-list-xml repo, they could be compiled and compared. This, however, would be a performance issue.

Another possibility is to compare against the existing license list.  Matches to the same license ID's should be ignored.

[2021-02-22 15:52] swinslow commented on #95
Hi Gary -- I don't know if this helps, but for my local tests during development I've been using the script that Kyle added directly to the license-list-XML repo a while back:

https://github.com/spdx/license-list-XML/blob/master/test-one-license

which brute-forces things by renaming all files from "whatever.xml" to "whatever.xml.skip", _except_ the one that is being tested.

Given that, I'm kind

[2021-02-22 18:43] goneall commented on #95
@swinslow Thanks for pointing this out, I never noticed the script.

If you don't mind downloading and running a Java application, there is even a faster and more straightforward way of testing a single file:
- Download the [licenseListPublisher](https://github.com/spdx/tools-java#getting-starting)
- Run the command `java -jar licenseListPublisher-2.1.23-jar-with-dependencies.jar LicenseRDFAGenera

[2021-02-27 06:22] goneall commented on #95
Resolved with PR #96

[2021-02-27 06:22] #95 closed

[2021-02-27 06:22] goneall commented on #93
Resolved with PR #96

[2021-02-27 06:22] #93 closed

[2021-02-28 17:45] goneall commented on #94
This is resolved with the 2.2.0 release of the LicenseListPublisher

[2021-02-28 17:45] #94 closed

[2021-03-07 21:13] goneall opened #99 "Quotes in template keyword text is not handled correctly"
Since double quotes are used to delineate the keyword values, having them inside the value itself trips up the matching rule parsing.

This is a specification issue, adding this issue here to track implementation once the issue is resolved - see https://github.com/spdx/spdx-spec/issues/497 for details.

[2021-03-07 21:26] goneall commented on #99
This turned out to not be the problem - the original issue was a semi-colon which can be escaped with a backslash

[2021-03-07 21:26] #99 closed

[2021-03-07 21:30] goneall opened #100 "Alt text with semi-colons are not handled correctly"
XML with a template like:

[code]

fails since it creates a template including the semi-colon in the `original="` keyword.

Escaping the semicolon will fix the template error, however, the semi-colon gets rendered in the XML for the website.

[2021-03-08 17:56] alandtse opened #101 "Json license list populated by git hash and not version number"
The `licenseListVersion` at https://spdx.org/licenses/licenses.json and https://spdx.org/licenses/exceptions.json is now populated by the git hash and not the version number.

EDIT: Current value is:
[code]

Moved from https://github.com/spdx/license-list-XML/issues/1220

[2021-03-08 18:33] swinslow commented on #101
@goneall For what it's worth, I also ran into this with the version number in the website index file. I manually updated it from the hash to `3.12` in the copy of `index.html` before uploading it to the license list website, but looks like we'll want to adjust it especially if it's affecting the JSON files as @alandtse noted.

[2021-03-08 18:50] goneall commented on #101
I think this may have been caused by the move from Travis to Github Actions.

Version is passed in as a parameter to LicenseListPublisher:

https://github.com/spdx/license-list-XML/blob/57b3b0d05625ec14b0ef6d3eef80d4d5a29514da/Makefile#L13

I'll move this back to the LicenseListXML since it is either an issue with the Makefile or the Github Action (not sure which at this point).

[2021-03-10 22:50] goneall commented on #77
@CAM-Gerlach We're pulling the data from a different repo maintained by @wking.  I submitted a PR a long time ago and it has not been merged.  I am assuming @wking is no longer maintaining the repo.

What would be ideal is if someone in the FSF would maintain this data.  If the FSF doesn't maintain a machine readable format and @wking doesn't maintain the library, I'll see about moving this into t

[2021-03-11 06:03] CAM-Gerlach commented on #77
Yep, thanks; I did notice that, which is actually why I replied here since I figured I had a better chance of a response.

As you say, ideally the FSF, as the canonical source, should ideally host their own data some sort of unambiguous, proper machine-readable form, or @wking is able to maintain their work. However, if not, as Python is my primary language, the code is reasonably well organized,

[2021-03-11 06:06] CAM-Gerlach commented on #77
(BTW, your very own @pombredanne is the author of the aforementioned proposal to add a SPDX license field, and eventually PyPI validation, to the Python package metadata standards.)

[2021-03-11 16:03] pombredanne commented on #77
@goneall re:

@CAM-Gerlach hey!

IMHO this is small enough that a tool may be nice to have but could be overkill. The pace of change at the FSF web site is modest, to say the least.

[2021-03-11 19:35] goneall commented on #77
@CAM-Gerlach Thanks for offering to help!  If we don't hear back from @wking within a week and @jlovejoy / @swinslow don't volunteer the legal team to maintain the data in the license list XML repo (see below for details), I think I'll take you up on the offer.

More details on the possible solutions:

I agree with @pombredanne that the tool may be overkill if it is only used for the License List

[2021-03-11 21:57] CAM-Gerlach commented on #77
Hey @pombredanne ! Awesome work on PEP 639; I've been looking forward to it and hopefully I can help do my small part to help make it a reality.

I agree the toll may be a bit overenginered just for the SPDX license list, but since it offers the lowest friction to use, keeps things modular, provides a strict superset of the data needed by SPDX, and may be useful for other applications as well as a

[2021-03-11 22:05] CAM-Gerlach commented on #77
Also, as a sidenote, there has been [some discussion](https://discuss.python.org/t/pep-639-improving-license-clarity-with-better-package-metadata/2154/150) of developing a mapping from PyPI Trove classifiers to SPDX identifiers as needed for that work, where unambiguously possible (which in fact was the topic of the initial discussion on pypa/trove-classifiers#17 that eventually sparked @pombredan

[2021-03-12 17:53] goneall commented on #77
One area I am extremely interested in is making it easier to convert package data between different ecosystems (e.g. Python, Maven and NPM).  Having a bias towards SPDX, I tend to think of the package managers for these ecosystems producing SPDX formats natively, however, it would be great if we had a well defined translation to SPDX based on the standards of the community.  I'm not terribly famil

[2021-04-27 21:02] nkolev92 opened #102 "The json data source in license-list-data is missing the isFsfLibre attribute"
Compare: https://raw.githubusercontent.com/spdx/license-list-data/master/rdfnt/licenses.nt to https://raw.githubusercontent.com/spdx/license-list-data/master/json/licenses.json.

Take a license that's consider libre such as `Intel`, https://spdx.org/licenses/.

Note that the data is missing.

The NuGet client uses the json format as a source of truth for licenses, but now that's generating data ba

[2021-04-27 22:38] goneall commented on #102
@nkolev92 I see missing isFsfLibre flag from the licenses.json file.  Is that the only data you see missing?

Just a note - the licenses.json file only contains a summary of the information (e.g. it does not include the license text).

To get the full set of details, reference the license json file in the details folder - for example https://github.com/spdx/license-list-data/blob/master/json/detai

[2021-04-27 22:44] nkolev92 commented on #102
Thanks for the quick response!

Yes. We use isFsfLibre, isOsiApproved and isDeprecatedLicenseId.

Yep, client side we just need the available license ids and their status.
Server side, we use the full license text, but we have not run into issues there afaik.

Perfect! That's exactly what we neeed.

Thanks!

[2021-04-28 01:56] goneall commented on #102
I created a pull request for the Java library.

@nkolev92 Attached is the resultant licenses.json file with the additional fields.  If you could review and let me know if this resolves the issue.

[licenses.json.txt](https://github.com/spdx/LicenseListPublisher/files/6388585/licenses.json.txt)

[2021-04-28 02:17] nkolev92 commented on #102
That works great. The data is just as expected.

[2021-04-30 04:08] #102 closed

[2021-05-30 15:42] m1kit opened #104 "Explicitly disallow a non-empty text node in a list node"
See: https://github.com/m1kit/license-matcher-python/issues/1#issuecomment-851017637

[2021-05-30 15:43] m1kit opened #105 "Make tag names unique"
See: https://github.com/m1kit/license-matcher-python/issues/1#issuecomment-851017637

[2021-05-30 15:44] m1kit opened #106 "Minor typo in optional tag handling"
See: https://github.com/m1kit/license-matcher-python/issues/1#issuecomment-851017637

[2021-05-30 16:05] m1kit commented on #104
The list nodes in the current license list contains only text nodes consisting of spaces. Do we have to insert such spaces? Or just ignore them?

[2021-05-30 16:07] m1kit commented on #105
It's easy to generate names like `bullet-1`, `bullet-2`, but not sure it's appropirate. Needs more discussion.

[2021-05-31 04:07] #106 closed

[2021-05-31 04:13] goneall commented on #105
Agree it needs some additional discussion.  We should either update the spec to not require unique names or update the generator to produce unique names.  Since no one has opened an issue on the name uniqueness, perhaps we should update the spec.

[2021-05-31 04:43] m1kit commented on #105
For reference, here is my opinion. Let's think about a license generation service for open source library developers. Developers can generate his own license by filling in the var tag in the license template.

Variables such as `copyrightHolder` can appear in multiple places in the license, and most of the time they are all assigned the same string. It is desirable that all such var tags have the

[2021-05-31 16:00] goneall commented on #104
Since this is in a template, it probably doesn't matter since the matching algorithm ignores white space when comparing.  I'm leaning towards including the spaces since they were in the original XML.

[2021-08-31 23:16] goneall commented on #105
I was considering adding some form of numbering to the generated bullet var tag, but it looks like it would require a bit of a redesign.

The generation is done through static methods in the `LicenseXmlHelper` class.  To keep track of a counter we would have to change this from a static class to a POJO with the counter as a property.  Another approach would be to pass the counters in as parameters

[2021-09-01 15:37] goneall commented on #104
Resolved with PR #116

[2021-09-01 15:37] #104 closed

[2021-09-01 17:14] m1kit commented on #105
One question, do we have a tool to generate license documents by replacing var tags? As we release yalm, I think we need to show how to generate a license that is compliant with our templates.

[2021-09-01 18:36] goneall commented on #105
@m1kit If I understand your question correctly, the LicenseListPublisher previously generated full license text replacing the var tag with the `orginal=` text.

This was replaced by copying the test file text to resolve an issue where we lost formatting.  It wouldn't be hard to bring this back or add another generated format.

This tool also generates HTML using the same approach to replace the va

[2021-09-01 18:40] goneall commented on #105
The value of the [useTestText ](https://github.com/spdx/LicenseListPublisher/blob/cdb270cb95f2e1bb4517c2191d81f969aa4fb43c/src/org/spdx/licenselistpublisher/LicenseRDFAGenerator.java#L468)parameter in the writeLicenseList controls whether the file is generated or the test text is used.

[2021-09-02 16:24] m1kit commented on #105
Sorry, I was not clear enough.

I meant a tool for developers to generate license documentation for their software when they develop new software. For example, a web app where you can type your name in a text box and the license holder part will be automatically replaced.

[2021-09-02 16:28] m1kit opened #117 "More useful information on expected-warnings"
This file is useful not only during testing, but in the context of license matching.

See the discussion [here](https://github.com/m1kit/yalm-python/issues/31) for details.

[2021-09-02 16:49] goneall commented on #105
@m1kit I don't know of a tool that generates the actual text, but the [REUSE project in FSFE](https://reuse.software/) has some tools that generates license identifier comments which serves a similar purpose.  You may want to check with that organization to see if their tools provide this.

[2021-09-02 17:00] goneall commented on #117
I like the idea of adding a more structured file for expected duplicates.

Since the LicenseListPublisher is used by only a small number of organization, we don't need to worry too much about compatibility.

One question - should we:
A) "expected duplicates" JSON file that this utility would check and not generate any warnings for duplicate licenses listed in the JSON file, or should we
B) take a

[2021-09-02 17:05] m1kit commented on #117
Oh, I was also writing some similar ideas at the same time😂
Thanks anyway, @goneall !

I have three ideas in my mind.

### JSON
One possible format is JSON like this (your plan A)
[code]

This format is flexible to any future updates (new expected warning types).
We may add some data for simplicity in the publisher like:

[code]
It's like a hybrid of your Plan A and B.

### CSV
Maybe it is not eas

[2021-09-02 17:11] m1kit commented on #117
I forgot to mention my preference.

I think adding some info on XML is the best, if possible.

Or, we can make some generic expected duplicate in separate file somewhere in license-list-XML and dynamically generate a file for this library.

[2021-09-03 18:02] goneall commented on #117
I like this idea as it would make the information more generally accessible and usable.  We could replace the current expectewarnings file with an "KnownDuplicates.xml".

Although I tend to like JSON better than XML due to readability, the fact that the license-list-XML repo is primarily XML format would favor the XML format over JSON.

We can update this library to read the XML file and process i

[2021-09-05 17:58] goneall commented on #77
@CAM-Gerlach I'm cleaning up some of the issues for the license list publisher and realized I haven't resolved this issue yet.

I just forked the wking/fsf-api repo into the SPDX repo and duplicated the PR that should resolve this: https://github.com/spdx/fsf-api/pull/1

If you could take a look and let me know if there are any other changes we should make to the fsf-api code before running it and

[2021-09-05 18:02] goneall commented on #62
This issue should now be resolved with the new cross-refs work complete (see the [CrossRef class](https://github.com/spdx/Spdx-Java-Library/blob/master/src/main/java/org/spdx/library/model/license/CrossRef.java) for implementation details).  If there is any issue with the cross-refs implementation, please open a new issue.

[2021-09-05 18:02] #62 closed

[2021-09-05 18:05] goneall commented on #20
@swinslow @jlovejoy Any opinion on this issue?  Should we remove the XML OSI Approved from the XML and use the API?  At a minimum, I think we should generate a warning.

[2021-09-05 20:57] goneall commented on #20
The following warnings are generated when comparing the OSI metadata to the license-list-XML metadata on OSI approved:

[code]

[2021-09-05 23:26] goneall commented on #20
The vast majority of the warnings are due to inconsistencies in the OSI data.  The repo hosting the API may no longer be maintained.

See https://github.com/OpenSourceOrg/licenses/issues/62 for the list of inconsistencies.

[2021-09-05 23:45] goneall commented on #20
Warnings not related to OSI data inconsistencies include:
- The GPLxx-or-later, GPLxx-only ID's not being included in the OSI data
- Some APSL license versions are not on the OSI list - this could be intentional, so I added https://github.com/spdx/license-list-XML/issues/1328
- Some AFL license versions are not on the OSI list - this could be intentional, so I added https://github.com/spdx/license

[2021-09-05 23:48] goneall commented on #20
Summary - the following SPDX ID's with a warning should be ignored:
[code]

[2021-09-05 23:50] goneall commented on #18
Resolved with PR #85

[2021-09-05 23:50] #18 closed

[2021-09-05 23:51] goneall commented on #17
I haven't heard from @jlovejoy on this, so I'm closing the issue.

[2021-09-05 23:51] #17 closed

[2021-09-05 23:58] goneall commented on #12
I'm waiting for the SPDX spec to include license metadata before proposing this change.  See: https://github.com/spdx/spdx-spec/issues/46

[2021-09-06 00:02] goneall commented on #11
Since you can now access previous versions of the website and license list easily on Github license-list-data, I'm closing this (rather old) issue.

[2021-09-06 00:02] #11 closed

[2021-09-06 19:26] CAM-Gerlach commented on #77
Hey @goneall , sorry for loosing track of this myself. I'll take a look now and open issues/PRs for any significant issues.

[2021-09-06 19:33] CAM-Gerlach commented on #66
@goneall Quick suggestion: The [pre-commit](https://pre-commit.com/) cross platform hooks framework is a fantastic tool for automating this and many other such things; it supports installing, running and updating hundreds of hooks in isolated environments across a dozen or so supported languages (including built in hooks for common things like whitespace), including many that support automated dep

[2021-09-06 19:50] CAM-Gerlach commented on #77
There's also a few minor but seemingly trivial to resolve [issues](https://github.com/wking/fsf-api/issues) with the license data that are still open at the original upstream that can likely be cleaned up by anyone familiar enough with SPDX policies to sign off on them (like yourself), and one simple PR that can be ported over. Given none of them really involve Python, which seems to be more the a

[2021-09-06 23:55] CAM-Gerlach commented on #77
It seems I completely forgot about it, but I evidently [fixed several breaking issues with the XML parsing](https://github.com/CAM-Gerlach/fsf-api/tree/fix-xml-parsing) a while back and completely forgot about it. I updated that, and fixed a number of other issues and limitations, and submitted it as PR spdx/fsf-api#2 . Aside from as previously discussed, the further immediate changes I have to su

[2021-09-07 19:06] goneall commented on #77
Thanks @CAM-Gerlach - I enabled issues and reviewed the PR.  I'll work on some of the remaining items and update this PR later today or tomorrow.

[2021-09-07 23:08] goneall commented on #77
@CAM-Gerlach I (mostly) completed 1-5 plus a few other things - you can look through the closed PR's in the repo for more info.

I copied over issues which I did not resolve and I thought could be resolved.  If you see any remaining issues not copied, feel free to add to the issues list.

Would you be OK being one of the maintainer/contributors?  We could use someone with more Python skills than I

[2021-09-08 02:52] goneall commented on #77
Completely agree - I was thinking the same thing

[2021-09-08 03:15] CAM-Gerlach commented on #77
I will do that right now, in fact, to obviate the need for the convoluted and maintenance-intensive API update process to be documented in the Contributing guide, as well as keep the API content in sync with the code and serve as a basic test of PRs. I have existing Github Actions workflows to do all that, so its mostly a copy/paste job.

[2021-09-10 18:47] goneall commented on #77
Resolved with PR #119

[2021-09-10 18:47] #77 closed

[2021-09-10 18:48] goneall commented on #121
Resolved with PR #120

[2021-09-10 18:48] #121 closed

[2021-09-10 23:10] jlovejoy commented on #17
sorry @goneall - this is old and re-reading it now, I'm not even sure what it was proposing!

[2021-09-10 23:16] jlovejoy commented on #20
I don't quite have my head around all the warnings that should be ignored (will need to think and look more closely, as well as go into attic of memory...)
But generally speaking I am in favor of using the OSI data and your #2 proposal IF:
1) we can confirm the OSI is maintaining this; and
2) perhaps they can add some of the missing stuff so we don't have to "ignore" various warnings

Maybe we sho

[2021-09-11 12:18] m1kit commented on #117
Hi, I agree with "KnownDuplicates.xml" idea.

I'd like to work on this - introduce the file on license-list-XML.
I have a few questions about how-to.

- Do I have to write `.xsd` to define the schema?
  - If so, what is a recommended way to write a `.xsd` file? (I'm unfamiliar with it)

[2021-09-11 22:21] goneall commented on #17
No worries - it was proposing we add a feather where you click or hover over the replaceable text and it will show you the regular expression.  I think there was only one person requesting the feature, so we should be fine just closing it.

[2021-09-11 22:25] goneall commented on #20
How about we reach out to the OSI board in 2 weeks if we don't hear back.

Haven't heard anything yet - but its only been a few days.

[2021-09-11 22:50] goneall commented on #117
That would be great :)

I have a few additional suggestions on the file I've been thinking about - I'll  add those as separate comments.

A schema would be really nice to have for validating and even generating code.

There are a number of ways to create the XSD file.  Since we need to change the Java application to use the XSD file, I have a suggested approach:
- Write a simple Java class (POJO)

[2021-09-11 22:51] goneall commented on #117
I would like to suggest we broaden the scope of the XML file to include other potential license issues which generate warnings in the LicenseRDFaGenerator.  If we merge in PR #20 , there will be more expected warnings where the OSI approved flag doesn't match the OSI data.

I would like to name the file something different from "expectedwarnings" since I would like the file to be usable for a numb

[2021-09-11 23:11] goneall commented on #117
I did some quick analysis of warning sources to see if we want to include any additional sections in the XML file for expected license issues.

The only one I think we should add is something to describe a list of license ID's where the OSI Approved flag doesn't match the OSI provided data (see PR #20 for context).

Below are other warnings which probably shouldn't be ignored:

- Missing cross ref

[2021-09-15 01:36] davidhedlund commented on #121
Thank you very much!

[2021-09-26 17:52] goneall commented on #20
There have been some updates from OSI in their repo - cross referencing them here:
- There is a discussion on the process for accepting pull requests for fixes to their data in this PR: https://github.com/OpenSourceOrg/licenses/pull/65
- The AFL licenses issue doesn't look like it will be addressed soon - the issue tracking the inconsistency was closed, but I did request it to be re-opened: https:

[2021-10-29 01:28] rgmz opened #124 "Use ISO-8601 format for CrossRef timestamp"
The current [CrossRef timestamp format is `yyyy-MM-dd - HH:mm:ss`](https://github.com/spdx/LicenseListPublisher/blob/2b565fb38a3d9b23a8bb28f5d39585f943e1ce6a/src/org/spdx/crossref/Timestamp.java#L37), which requires a custom formatter to parse and has an ambiguous timezone (I sought out this repository to double-check whether it was UTC):

[code]

While this — admittedly — is a very minor issue, i

[2021-10-30 02:45] goneall commented on #124
@rgmz Completely agree with you on this issue.  Thanks for pointing this out.

There is a [standard SPDX time/date format](https://github.com/spdx/Spdx-Java-Library/blob/42fcd5bc77ee49afc1bfb2de992679162bbcb3cd/src/main/java/org/spdx/library/SpdxConstants.java#L338): `yyyy-MM-dd'T'HH:mm:ss'Z'` which should be used - looks like the same as you are recommending.

I don't think it would break anythin

[2021-11-07 18:13] goneall commented on #124
Resolved with PR #125

[2021-11-07 18:13] #124 closed

[2021-11-30 21:41] CAM-Gerlach commented on #77
Hey @goneall , really sorry to bother you about this and sorry for hijacking this issue one more time, but have you heard from @pombredanne lately? Over the past months I've been [working with the Python community](https://discuss.python.org/t/pep-639-improving-license-clarity-with-better-package-metadata/) to adapt and refine his excellent Python Enhancement Proposal (PEP 639, as we discussed abo

[2021-12-05 19:22] goneall commented on #77
@CAM-Gerlach - Just FYI - I mentioned to Philippe the request for support on the PEP/peps#2164 on the SPDX general call on Thursday and he mentioned that he was aware of the request but has been quite busy

[2021-12-05 23:55] CAM-Gerlach commented on #77
Thanks @goneall ! He responded there a few days ago, gave me the go-ahead to add myself as a co-author and said he'd give it a review. I'm sure he's very busy and I'm happy to continue taking care of it for him, though I'd love his feedback if and when he gets the chance. Cheers!

[2022-01-02 18:38] jgneff opened #127 "Clarify that the license identifier is deprecated"
Clarify that the license identifier, and not the license itself, is deprecated. The current text is confusing.

The Ubuntu Software app links directly from the SPDX license identifier of an application to the page for the identifier on the SPDX website. The text on the page of a deprecated license identifier could lead one to believe that the license itself is deprecated in favor of some other lic

[2022-01-02 18:40] jgneff commented on #127
This problem is similar to [Issue #22](https://github.com/spdx/LicenseListPublisher/issues/22). I'll submit a pull request shortly.

[2022-01-02 20:34] jgneff commented on #127
Note that a bug in the Ubuntu Software application prevents Snap and Debian packages from using the new non-deprecated license expressions instead of the old deprecated license identifiers. The bug is "[snap-store says an app is proprietary while it's free](https://bugs.launchpad.net/snap-store-desktop/+bug/1878924)." For more details, see [my latest comment](https://bugs.launchpad.net/snap-store-

[2022-01-05 06:38] goneall opened #129 "Update the CI to work with external Github accounts"
This is a similar issue to what was resolved with https://github.com/spdx/Spdx-Java-Library/pull/72 in the SPDX-Java-Library.

[2022-01-09 14:43] sschuberth commented on #78
I'm reopening this to remind myself that the issue hasn't really been fixed yet. While PR #83 laid the foundation for *getting* it fixed, https://github.com/spdx/license-list-data/blob/master/text/Apache-2.0.txt still does not match https://www.apache.org/licenses/LICENSE-2.0.txt formatting-wise.

IIUC @goneall correctly, the remaining thing to do is to commit the original / upstream plain text li

[2022-01-09 15:30] sschuberth commented on #30
I'm reopening this to remind myself that the issue hasn't really been fixed yet. While PR #83 laid the foundation for *getting* it fixed, https://raw.githubusercontent.com/spdx/license-list-data/b8d6af45ad2fcfed61bb85a8ad068aa4a77eadf9/text/Apache-2.0.txt still does not match https://www.apache.org/licenses/LICENSE-2.0.txt formatting-wise.

IIUC @goneall correctly, the remaining thing to do is to

[2022-01-09 15:35] sschuberth commented on #78
And actually, this specific issue is about *tracking* the original URL to the original plain text licenses as part of license metadata. That is, at the example of `Apache-2.0` we should track that the plain text version of the license is available at https://www.apache.org/licenses/LICENSE-2.0.txt, but we track only the HTML version at https://www.apache.org/licenses/LICENSE-2.0.

So, fixing the o

[2022-01-10 00:33] jgneff commented on #127
**Note:** I'm just waiting for the actual text [on the Web page](https://spdx.org/licenses/GPL-2.0-with-classpath-exception) to show the fix before closing this issue.

[2022-03-23 00:23] jgneff commented on #127
Is there a way to regenerate the website so that this fix takes effect? The fix was merged a couple months ago, but the webiste still has the old text. See [GNU General Public License v2.0 w/Classpath exception](https://spdx.org/licenses/GPL-2.0-with-classpath-exception). Let me know if there's something I can do to help.

[2022-03-23 10:36] goneall commented on #129
Resolved with PR #130

[2022-03-23 10:36] #129 closed

[2022-03-23 10:40] goneall commented on #127
@jgneff I'll need to produce a release of the LicenseListPublisher which will get picked up in the next release of the license list.  I'm currently traveling with very limited network bandwidth - once I'm back on dry land in 3 or 4 days, I'll publish the release.

[2022-03-26 20:43] goneall commented on #127
@jgneff I just created a new release and a PR to update the license list publisher version for the next release of the SPDX license list (https://github.com/spdx/license-list-XML/pull/1440).  It should get updated on the next regular release.

cc: @swinslow

[2022-03-26 20:43] #127 closed

[2022-03-26 20:45] swinslow commented on #127
Thank you @goneall and @jgneff -- this is now merged in license-list-XML, and will be updated on the website as of the 3.17 release (which is targeted for the end of April).

[2022-04-14 17:32] goneall opened #131 "Do not warn of duplicate deprecated licenses"
If one or both of a license comparison is marked as duplicate, do not warn of the duplication as it is very likely expected.

This would make it easier to maintain the [expected-warnings](https://github.com/spdx/license-list-XML/blob/master/expected-warnings) file in the license-list-XML repo.

[2022-04-14 17:33] goneall commented on #131
@swinslow @jlovejoy Let me know what you think about this enhancement.  On the positive side, it would reduce the number of times we would have to update the expected-warnings file.  On the negative side, we still may want to flag duplicates even if one of the licenses is deprecated.

[2022-04-14 21:15] swinslow commented on #131
Hi @goneall -- just to understand, is the idea that if either of the licenses in a comparison is deprecated, then it just won't warn about duplicates for that particular pair?

If so, I think I'm good with that, actually. Seems like a clean and straightforward way to cut down on the warnings. If there's a duplicate with a deprecated license ID, then it isn't really a problem (and is probably inten

[2022-04-14 22:02] goneall commented on #131
@swinslow - exactly

Unless there is any other objections, I'll implement over the next week or two

[2022-04-15 02:36] goneall commented on #131
Hmmm - it looks like there is already a check for deprecated licenses.  However, in https://github.com/spdx/license-list-XML/pull/1446 there is clearly a warning generated for duplicate license text for deprecated licenses.

This may not be as simple - but something I'll look.

[2022-04-28 19:31] sschuberth commented on #78
I'm closing this as a duplicate of https://github.com/spdx/LicenseListPublisher/issues/30.

[2022-04-28 19:31] #78 closed

[2022-05-09 16:48] waynebeaton opened #132 "Record the licenses to which an exception may apply"
I'm approaching this from the perspective of trying to make a best guess determination of the SPDX License Identifier from the results of `scancode-toolkit`. In the absence of an explicit tag, scancode does a fantastic job of identifying the various licenses, but doesn't necessary know how they combine.

In the case where a license and an exception are identified by the scanner, it's relatively ea

[2022-05-09 19:47] waynebeaton commented on #132
Moved to https://github.com/spdx/license-list-XML/issues/1457

[2022-05-09 19:47] #132 closed

[2022-06-04 01:49] ecki opened #133 "KICAD-exception not licenses"
In the (JSON) license.json file I [see](https://github.com/spdx/license-list-data/blob/7bd3f753d70c065dbf270598cc9736169b29835d/json/licenses.json#L105) entry named like KiCad-libraries-exception and when I look at the detailed file it is not a full license only an exception. Should probably be moved to the exceptions.json?

also should there be an link to the base license an exception normally ap

[2022-06-04 01:56] ecki commented on #133
I think the problem is in the xml file, I opened a issue for it here: https://github.com/spdx/license-list-XML/issues/1520

[2022-06-04 03:39] goneall commented on #133
Indeed - this is an issue with the XML.  @ecki good catch!  I just created a PR to fix - I'm going to close this issue.

[2022-06-04 03:39] #133 closed

[2022-07-12 10:17] javiquinte opened #134 "How should we cite SPDX work?"
Dear SPDX Team,

I'm working on a software package that uses the list of licenses in JSON format from your Github repository.
Is there any particular reference or citation I should introduce in the code? Or in any other place?

Thanks in advance for your support and for the great work.

P.S.: Sorry for posting this here, but the two EMail addresses to contact you are rejecting my messages claiming

[2022-07-13 18:35] goneall commented on #134
@javiquinte Glad to hear you're finding the license data useful.

There is no citation required to use the license list data itself from the license-list-data repo.  A related question on the license for the license meta data has come up a few times, and the legal team has decided that a license wasn't needed (reference [this comment](https://github.com/spdx/license-list-XML/issues/648#issuecommen

[2022-07-18 03:59] javiquinte commented on #134
Thanks a lot, @goneall !

[2022-07-18 03:59] #134 closed

[2022-08-11 16:36] seabass-labrax opened #135 "Improve accessibility of License List website for colour-blind readers"
Currently the [SPDX License List website](https://spdx.org/licenses/) shows "omitable text in blue and replaceable text in red". Although these colours have good contrast when compared to the website's background, some colour-blind readers may be unable to distinguish the colours from and each other and normal text.

It would be beneficial to add additional markers, such as displaying optional (om

[2022-08-22 18:57] aiuto opened #136 "Timestamp updates for unchanged data complicates usage, especially caching"
The publisher updates timestamps of data files even if no other information has changed.
See this PR for an example:
https://github.com/spdx/license-list-data/commits/6552b858c0f9224be9ed38ad8e941f662a4496ab/json/licenses.json

This creates needless churn in downstream systems that cache this information. It would be more useful to have a modification timestamp.

cc: @danielmachlab

[2022-08-23 01:31] goneall commented on #136
@aiuto - the licenses.json file is regenerated by the application every time the application is run. This may be causing the creation timestamp issue.  I don't see an easy way to change this to be a modified timestamp.  If you find a way to modify the utility to resolve this problem, please create a pull request or comment on this issue.

[2022-10-07 20:45] DaveJarvis opened #137 "Malformed HTML in CDDL 1.0"
There's a misplaced `</li>` in [CDDL 1.0](https://github.com/spdx/license-list-data/blob/536ba390d2b242796b391bcbe40c5e9a4475062f/html/CDDL-1.0.html#L71), starting around line 71. The code block should end with `</li>` rather than `</ul>` (the `<ul>` must be nested inside the `<li>`).

## Malformed

[code]

## Revised

[code]

Pardon the reformatting.

[2022-10-08 18:01] goneall commented on #137
This is due to an incorrectly placed `</item>` in the source XML: https://github.com/spdx/license-list-XML/blob/03c58ca3e2c4470a072eb4f3c9f6c8bb0b2d796a/src/CDDL-1.0.xml#L64

Transferring to the license-list-XML repo

[2022-10-15 12:09] OlshaMB opened #140 "license text inconsistency"
I am writing a cli to install license in the current dir in rust.
And I have problem using https://github.com/spdx/license-list-data because in the folder /text there are two formats:
1. `Copyright (C) YEAR by AUTHOR EMAIL` in 0BSD.txt
2. `Copyright (c) <year> <copyright holders>` in MIT.txt
3. And maybe there is another one, I haven't checked them all
And I need consistency to be able to format/r

[2022-10-15 17:10] goneall commented on #140
@OlshaMB The files in the /text folder are verbatim license text without any formatting.  I don't know of any standard way of marking the year within the copyright across all licenses.  The format in the /template folder only specifies which text is optional for license matching purposes - so it wouldn't help (even if you wanted to write a parser).  The license-list-XML format does have tags for t

[2022-10-21 17:33] softmoth opened #141 "crossRef to opensource.org/licenses/* have isLive: false"
The cross references ("Other web pages for this license" on the web page) which refer to opensource.org/licenses/* are marked as "no longer live" (`isLive: false`).

The web site is live.

I expect the links to be live, or else an explanation of why they are being treated as dead, or for them to be culled completely. It is disconcerting to read "no longer live" on such a central information source

[2022-10-21 17:57] goneall commented on #141
Duplicate of https://github.com/spdx/license-list-XML/issues/1582

It looks like I committed to creating a PR for a workaround.  I'll work on that over the next couple of days.

@swinslow - when do you plan to do another release of the license list?  It would be great to get this in before then.

[2022-10-21 18:41] softmoth commented on #141
Thank you! One thought I had would be to raise an exception if the number of dead links changes by X% or something. This would require keeping state of the previous successful build, but would prevent some infrastructure outage to impact large parts of the website. Just a thought.

[2022-10-21 20:20] DaveJarvis opened #144 "replacable typo"
https://en.wiktionary.org/wiki/replacable

[code]

See also: https://en.wikipedia.org/wiki/HTTP_referer

[2022-10-22 16:05] #141 closed

[2022-10-22 18:24] #144 closed

[2022-10-26 14:16] JakeWharton opened #146 "Sort JSON by some stable identifier"
We embed the JSON in our tool and regularly update it when it changes. The JSON file seems to randomly change order on each update making its diff unreviewable. We don't actually want to review the contents, but with a stable sort we would at least be able to visually sanity check that the changes are as expected.

[2022-10-26 17:12] goneall commented on #146
I'm planning on a new release of the LicenseListPublisher before the next license list release - if it's not to hard, I'll include a fix for this.

[2022-10-31 05:02] goneall commented on #140
I'm going to close this issue as it doesn't apply to this library.

[2022-10-31 05:02] #140 closed

[2022-10-31 05:04] goneall commented on #136
@aiuto - Any concern with closing this issue?  It doesn't seem there is an easy solution or volunteer to code up the changes.

[2022-10-31 05:07] #146 closed

[2022-10-31 14:42] JakeWharton commented on #146
Thanks!

[2022-10-31 18:19] goneall commented on #136
@aiuto Another possibility is to look at the timestamps or Git commit information on the input license-list-XML files to determine if they changed then just skip processing - may be simpler than maintaining the list in memory.

The [Makefile](https://github.com/spdx/license-list-XML/blob/main/Makefile) in the license-list-XML repo that runs the CI running this app deletes the input files before ru

[2022-11-01 00:01] aiuto commented on #136
using git commits tie truth to the SCM implementation.

On Mon, Oct 31, 2022, 2:19 PM goneall ***@***.***> wrote:

[2022-11-30 15:19] swinslow opened #150 "Change license-list-data repo name to main"
In 3.19, we changed the license-list-XML repo's primary branch name from `master` to `main`. For 3.20, we'll want to do the same for license-list-data. Filing this issue here since license-list-data doesn't take issues, and since I'm guessing the publisher will need to be adjusted accordingly to point to the correct branch.

[2022-11-30 19:08] goneall commented on #150
@swinslow - No need to change the publisher, the push is done from the `Makefile` in the License List XML repo.  From looking at the reference to the Repo:

https://github.com/spdx/license-list-XML/blob/e7992c22ef8ec0eafc8df6d30998b4cf8d7a894e/Makefile#L7

it looks like it is using the default branch, so we should be able to just change the primary branch without problem?

[2022-11-30 21:40] swinslow commented on #150
@goneall Ah -- good to know, thanks Gary!

I've tagged and pushed the 3.19 release earlier today, so I'll go ahead and change the license-list-data default branch. Looks like the GitHub workflow to publish the preview site will [need an update too](https://github.com/spdx/license-list-data/blob/3589795a2c7751cfd89d7adbc75110768ab66500/.github/workflows/preview-website.yml#L5), so I'll submit a PR